
<% if @user.inverse_friends %>
<% for friend in @user.inverse_friends %>
    <li>
      <%= link_to "#{friend.name}", user_path(friend.id) %>
  who works at 
  <%=  link_to "#{friend.workplace.name}", workplace_path(friend.workplace.id) %>

  </li>
  <% end %>

<% else %>
<%= "no friends yet - start adding some!" %>
<%end%> 
